.banner{
	width: 100%;
	height: 450px;
	/*border: 1px solid red;*/
	background: rgb(219,36,70);
}
.banner-content{
	width: 1200px;
	height: 450px;
	/*border: 1px solid red;*/
	margin:0 auto;
	position: relative;
}
.banner-list-con{
	width: 800px;
	height: 450px;
	border: 1px solid #ccc;
	background-color: white;
	position: absolute;
	top: 0;left: 180px;
	display:none;
	z-index: 20;
}
.banner-list-con-left{
	width: 605px;
	height: 100%;
	/*border: 1px solid red;*/
	float: left;
}
.banner-list-con-left1{
	width: 600px;
	height: 30px;
	margin-top: 22px;
}
.con-title{
	width: 90px;
	height: 30px;
	/*border: 1px solid red;*/
	color: black;
	text-align: center;
	font-size: 12px;
	float: left;
}
.con-title a{
	color: black;
}
.con-title a:hover{
	color: black;
}
.con-con{
	width: 500px;
	height: 100%;
	border-bottom: 1px solid #ccc;
	float: left;
}
.con-con0{
	width: 55px;
	height: 15px;
	/*border: 1px solid red;*/
	text-align: center;
	line-height: 15px;
	color:#333;
	font-size: 12px;
	float: left;
	margin-left: 20px;

}
.con-con0 a{
	color:#333;
}
.con-con0 a:hover{
	color:#ff6700;
}


.banner-list-con-right{
	width: 190px;
	height: 100%;
	/*border: 1px solid red;*/
	float: left;
}
.banner-list-con-close{
	width: 15px;
	height: 15px;
	text-align: right;
	line-height: 15px;
	font-size: 12px;
	color: #333;
	cursor: pointer;
	float: right;
}
.banner-list-con-close:hover{
	color: #ff6700;
}







/*banner list*/

.banner-list{
	width: 180px;
	height: 450px;
	/*border: 1px solid red;*/
	float: left;
	background: rgb(47,47,47);

}
.banner-list ul{
	margin-top: 5px;
}
.banner-list ul li{
	width: 180px;
	height: 32px;
	/*border: 1px solid red;*/
	font-size: 13px;
	line-height: 32px;
	color: white;
	margin-top: 2px;
}
.banner-list ul li:hover{
	background: white;

}
.banner-list ul li a{
	margin-left: 5px;
	color: white;
}
.banner-list ul li{
	color: white;
}


.banner-list ul li:hover{
	color: black;
	
}
.list-icon{
	width: 16px;
	height: 32px;
	/*border: 1px solid red;*/
	float: left;
	line-height: 32px;
	margin-left: 4px;
}
.banner-list ul li img{
	margin-top: 5px;
}

/*banner right*/

.banner-right{
	width: 180px;
	height: 430px;
	/*border: 1px solid red;*/
	float: right;
	margin-top: 10px;

}
.banner-right-top,.banner-right-three{
	width: 180px;
	height: 40px;
	/*border:1px solid red;*/
	background: white;
}
.gonggao{
	width: 18px;
	height: 40px;
	/*border: 1px solid red;*/
	float: left;
	margin-left: 10px;
}
.gonggao img{
	margin-top:10px;
}
.gonggao-wenzi{
	width: 30px;
	height: 40px;
	/*border: 1px solid red;*/
	float: left;
	font-size: 14px;
	line-height: 40px;
}
.banner-right-two{
	width: 180px;
	height: 145px;
	/*border: 1px solid red;*/
	border-top: 1px solid rgb(237,237,237);
	border-bottom: 1px solid rgb(237,237,237);
	background: rgba(255,255,255,0.94);
}
.banner-right-two ul{
	margin-left: 7px;
	margin-top: 10px;
}
.banner-right-two ul li{
	width: 165px;
	height: 24px;
	/*border: 1px solid red;*/
	font-size: 12px;
}
.hot a:link{
	font-size: 12px;
	color: #ff6700;
}
.banner-right-four{
	width: 180px;
	height: 197px;
	/*border: 1px solid red;*/
	background: rgba(255,255,255,0.94);
	overflow: hidden;
}
.lifezhushou{
	width: 56px;
	height: 40px;
	/*border: 1px solid red;*/
	margin-left:10px;
	font-size: 14px;
	line-height: 40px;
}
.banner-right-four9{
	width: 60px;
	height: 65px;
	border-top: 1px solid rgb(237,237,237);
	border-bottom: 1px solid rgb(237,237,237);
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	font-size: 12px;
	text-align: center;
}
.banner-right-four9 a:hover{
	color: rgb(234,168,39);
	text-decoration: none;
}
.nine{
	border:1px solid rgb(237,237,237);
}
.nine-img{
	width: 35px;
	height: 35px;
	/*border: 1px solid red;*/
	margin-left: 12px;
}


/*banner middle*/

.banner-middle{
	width: 750px;
	height: 450px;
	/*border: 1px solid black;*/
	float: left;
	margin-left: 40px;
	position: relative;
	overflow: hidden;
}
.banner-middle img{
	position: absolute;
	top: 0;left: 750px;
	
}




/*banner-bottom*/

.banner-bottom{
	width: 810px;
	height: 40px;
	/*border: 1px solid black;*/
	position: absolute;
	left: 195px;top: 395px;
}
.banner-bottom ul{
	height: 40px;
	position: relative;
}
.bannerul-num{
	position: absolute;
	top: 1px;left: 1px;
	width: 71px;
	height: 13px;
	background: rgba(0,0,0,0.7);
	z-index: 18;
	display: none;
}
.bannerul-con{
	width: 200px;
	height: 48px;
	
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: -48px;left: 1px;
	display:none;
	z-index: 100;
}

.bg2{
	width: 10px;
	height: 5px;
	background: white;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
.con-a-con{
	width:180px;
	height: 24px;
	color: white;
	font-size: 11px;
	line-height: 24px;
	float: left; 
	margin-left: 3px;
	
}
.con-a-con a{
	color: white;
}
.con-a-con a:hover{
	color: #ff6700;

}
.con-num9{
	left: 448px;
}
.con-num10{
	left: 520px;
}
.con-num11{
	left: 592px;
}
.num2{
	left: 73px;
}
.num3{
	left: 145px;
}
.num4{
	left: 217px;
}
.num5{
	left: 289px;
}
.num6{
	left: 361px;
}
.num7{
	left: 433px;
}
.num8{
	left: 505px;
}
.num9{
	left: 577px;
}
.num10{
	left: 649px;
}
.num11{
	left: 721px;
}

.banner-bottom ul li{
	width: 71px;
	height: 40px;	
	background: rgba(0,0,0,0.2);
	float: left;
	margin-left: 1px;
	font-size: 12px;
	text-align: center;
	line-height: 40px;
	font-weight: normal;
	color: white;
	cursor: pointer;
}
.libg{
	width: 10px;
	height: 5px;
	background: white;
	position: absolute;
	top: -7px;left: 32px;
	z-index: 19;
	display: none;
}
.libg2{left: 97px;}
.libg3{left: 110px;}

.libg4{left: 175px;}

.libg5{left: 241px;}
.libg6{left: 254px;}

.libg7{left: 320px;}

.libg8{left:385px;}
.libg9{left: 398px;}

.libg10{left: 457px;}
.libg11{left: 470px;}

.libg12{left: 536px;}

.libg13{left: 601px;}
.libg14{left: 614px;}

.libg15{left: 673px;}
.libg16{left: 686px;}

.libg17{left: 746px;}
.libg18{left: 759px;}

.jiantou1,.jiantou2{
	width: 50px;
	height: 84px;
	/*border: 1px solid black;*/
	position: absolute;
	font-size: 40px;
	text-align: center;
	line-height: 84px;
	color: white;
	background: rgba(0,0,0,0.2);
	cursor: pointer;
	
}
.jiantou1{
	left: 188px;
	top: 180px;	
}
.jiantou2{
	left: 960px;
	top: 180px;
}