@font-face {
  font-family: 'demo';
  src: url('../fonts/iconfont.eot');
  /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-role=zs]:before {
  font-family: demo;
  content: "\e600";
}
*[data-role=zs][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e600";
  text-align: center;
}
*[data-role=zs][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=zs][icon-pos=right]:after {
  font-family: demo;
  content: "\e600";
}
*[data-role=zs][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=zs][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e600";
  display: block;
}
*[data-role=lingshi]:before {
  font-family: demo;
  content: "\e601";
}
*[data-role=lingshi][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e601";
  text-align: center;
}
*[data-role=lingshi][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=lingshi][icon-pos=right]:after {
  font-family: demo;
  content: "\e601";
}
*[data-role=lingshi][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=lingshi][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e601";
  display: block;
}
*[data-role=dianqi]:before {
  font-family: demo;
  content: "\e602";
}
*[data-role=dianqi][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e602";
  text-align: center;
}
*[data-role=dianqi][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=dianqi][icon-pos=right]:after {
  font-family: demo;
  content: "\e602";
}
*[data-role=dianqi][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=dianqi][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e602";
  display: block;
}
*[data-role=hua]:before {
  font-family: demo;
  content: "\e603";
}
*[data-role=hua][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e603";
  text-align: center;
}
*[data-role=hua][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=hua][icon-pos=right]:after {
  font-family: demo;
  content: "\e603";
}
*[data-role=hua][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=hua][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e603";
  display: block;
}
*[data-role=car]:before {
  font-family: demo;
  content: "\e604";
}
*[data-role=car][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e604";
  text-align: center;
}
*[data-role=car][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=car][icon-pos=right]:after {
  font-family: demo;
  content: "\e604";
}
*[data-role=car][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=car][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e604";
  display: block;
}
*[data-role=chuju]:before {
  font-family: demo;
  content: "\e605";
}
*[data-role=chuju][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e605";
  text-align: center;
}
*[data-role=chuju][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=chuju][icon-pos=right]:after {
  font-family: demo;
  content: "\e605";
}
*[data-role=chuju][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=chuju][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e605";
  display: block;
}
*[data-role=sj]:before {
  font-family: demo;
  content: "\e606";
}
*[data-role=sj][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e606";
  text-align: center;
}
*[data-role=sj][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=sj][icon-pos=right]:after {
  font-family: demo;
  content: "\e606";
}
*[data-role=sj][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=sj][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e606";
  display: block;
}
*[data-role=wanju]:before {
  font-family: demo;
  content: "\e607";
}
*[data-role=wanju][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e607";
  text-align: center;
}
*[data-role=wanju][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=wanju][icon-pos=right]:after {
  font-family: demo;
  content: "\e607";
}
*[data-role=wanju][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=wanju][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e607";
  display: block;
}
*[data-role=nanz]:before {
  font-family: demo;
  content: "\e608";
}
*[data-role=nanz][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e608";
  text-align: center;
}
*[data-role=nanz][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=nanz][icon-pos=right]:after {
  font-family: demo;
  content: "\e608";
}
*[data-role=nanz][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=nanz][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e608";
  display: block;
}
*[data-role=nvz]:before {
  font-family: demo;
  content: "\e609";
}
*[data-role=nvz][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e609";
  text-align: center;
}
*[data-role=nvz][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=nvz][icon-pos=right]:after {
  font-family: demo;
  content: "\e609";
}
*[data-role=nvz][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=nvz][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e609";
  display: block;
}
*[data-role=star]:before {
  font-family: demo;
  content: "\e60a";
}
*[data-role=star][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60a";
  text-align: center;
}
*[data-role=star][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=star][icon-pos=right]:after {
  font-family: demo;
  content: "\e60a";
}
*[data-role=star][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=star][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60a";
  display: block;
}
*[data-role=jj]:before {
  font-family: demo;
  content: "\e60b";
}
*[data-role=jj][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60b";
  text-align: center;
}
*[data-role=jj][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=jj][icon-pos=right]:after {
  font-family: demo;
  content: "\e60b";
}
*[data-role=jj][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=jj][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60b";
  display: block;
}
*[data-role=xie]:before {
  font-family: demo;
  content: "\e60c";
}
*[data-role=xie][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60c";
  text-align: center;
}
*[data-role=xie][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=xie][icon-pos=right]:after {
  font-family: demo;
  content: "\e60c";
}
*[data-role=xie][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=xie][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60c";
  display: block;
}
*[data-role=shu]:before {
  font-family: demo;
  content: "\e60d";
}
*[data-role=shu][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60d";
  text-align: center;
}
*[data-role=shu][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=shu][icon-pos=right]:after {
  font-family: demo;
  content: "\e60d";
}
*[data-role=shu][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=shu][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60d";
  display: block;
}
*[data-role=yiyao]:before {
  font-family: demo;
  content: "\e60e";
}
*[data-role=yiyao][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60e";
  text-align: center;
}
*[data-role=yiyao][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=yiyao][icon-pos=right]:after {
  font-family: demo;
  content: "\e60e";
}
*[data-role=yiyao][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=yiyao][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60e";
  display: block;
}
*[data-role=huazhuang]:before {
  font-family: demo;
  content: "\e60f";
}
*[data-role=huazhuang][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60f";
  text-align: center;
}
*[data-role=huazhuang][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=huazhuang][icon-pos=right]:after {
  font-family: demo;
  content: "\e60f";
}
*[data-role=huazhuang][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=huazhuang][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60f";
  display: block;
}
